
  /*
   * Loading Dots
   * Can we use pseudo elements here instead :after?
   */
  .loading span {
    display: inline-block;
    vertical-align: middle;
    width: .9em;
    height: .9em;
    margin: .19em;
    background: #035942;
    border-radius: 2px;
    animation: loading 1s infinite alternate;
  }
  
  /*
   * Dots Colors
   * Smarter targeting vs nth-of-type?
   */
  .loading span:nth-of-type(1) {
    background: #035942;
    animation-delay: 0.2s;
  }
  .loading span:nth-of-type(2) {
    background: #037052;
    animation-delay: 0.4s;
  }
  .loading span:nth-of-type(3) {
    background: #5C8C7E;
    animation-delay: 0.6s;
  }
  .loading span:nth-of-type(4) {
    background: #C8C7C8;
    animation-delay: 0.8s;
  }

  
  /*
   * Animation keyframes
   * Use transition opacity instead of keyframes?
   */
  @keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }