@font-face {
    font-family: 'Segoe UI';
    src: url('./SegoeUI.ttf');
  }
  
  html {
    font-family: 'Segoe UI';
  }
  
  body {
    height: 100vh;
    overflow-x: hidden;
  }

  .menu{
    overflow-x: hidden;
  }